@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

#root {
  background-color: #2d313f;
}

div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
